= link_to(problem, class: "list-group-item")
  h4.list-group-item-heading
    = problem.title

  .list-group-item-text.clearfix
    = Markdown.to_text(problem.description)

    .pull-right
      = problem.created_at
      = image_tag problem.owner_image_url
      = problem.owner_name
