.page-header
  h2 #{@problem.title}

.panel.panel-default
  .panel-heading
    | Submitter
  .panel-body
    => image_tag @problem.owner_image_url
    = @problem.owner_name

.panel.panel-default
  .panel-heading
    | Description
  .panel-body
    = Markdown.to_html(@problem.description)

- if @problem.file?
  .panel.panel-default
    .panel-heading
      | Attached file
    .panel-body
      = link_to filename(@problem.file), @problem.file.url

.panel.panel-default
  .panel-heading
    | Rating
  .panel-body
    = render "rating", rating: @rating

.panel.panel-default
  .panel-heading
    | Like
  .panel-body
    - @problem.liked_users.each do |user|
      = link_to "#{user.name}", user_path(user)
      = user != @problem.liked_users.last ? ", " : ""

- if @problem.submitted_by?(current_user)
  => link_to 'Edit problem', edit_problem_path(@problem), class: 'btn btn-info'
  = link_to 'Delete problem', problem_path(@problem), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?'}

/ = render "relating_problem", problem: @problem
