// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group textarea {
  margin-top: 8px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trash {
  transition: transform 100ms;

  &:hover {
    color: red;
    transform: scale(1.5);
  }
}

.rating-label {
  display: inline-block;
  width: 5em;
  margin-left: 1em;
}
