// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags {
  margin-bottom: 8px;

  span.label {
    margin-right: 6px;
  }

  button.tag-close {
    float: none;
    font-size: 16px;
    margin-left: 4px;
  }
}
